force-app/main/default/flows/Account_Revenue_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Default_notes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Im a note!</stringValue>
        </value>
    </constants>
    <constants>
        <description>Default revenue for an account</description>
        <name>Default_Revenue</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>100000.0</numberValue>
        </value>
    </constants>
    <description>Updates the default revenue of an account if its blank.</description>
    <environments>Default</environments>
    <interviewLabel>Account_Revenue_Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account_Revenue_Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Notes</name>
        <label>Update Notes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Notes__c</field>
            <operator>IsNull</operator>
        </filters>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Default_notes</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates revenue of the created account object</description>
        <name>Update_Revenue</name>
        <label>Update Revenue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Notes</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AnnualRevenue</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>Default_Revenue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Revenue</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
